spring:
  application:
    name: "sigu"

  datasource:
    url: jdbc:mysql://localhost:3306/sigu?createDatabaseIfNotExist=true
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}